.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-links{
  width: 40%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  list-style: none;
}

li{
  color: rgb(184, 180, 180);
}